%% 依赖
{deps, [lager,
		{colorize, "", {git, "git://github.com/rpt/colorize.git", {branch, "master"}}},
		ranch
	   ]
}.

%% Additional library directories to add to the code path
{lib_dirs, ["lib/"]}.

{erl_first_files, ["src/db/db_table_account.erl",
				   "src/db/db_table_achievement.erl",
				   "src/db/db_table_dragon.erl",
				   "src/db/db_table_item.erl",
				   "src/db/db_table_magic.erl",
				   "src/db/db_table_role.erl", 
				   "src/db/db_table_rune.erl"
				   ]}.

{erl_opts, [
	% {nowarn_deprecated_function, [{crypto, sha, 1}, 
	% 							  {crypto, sha_final, 1}, 
	% 							  {crypto, sha_update, 2},
	% 							  {crypto, sha_init, 0}]},
	nowarn_deprecated_function,
	%% 使用lager日志库需要加的编译选项，这样才可以使用lager:info等方法的
	{parse_transform, lager_transform}, 
	%% 设置编译选项
	debug_info, 
	warnings_as_errors, 
	{i, "include"},
	{i, "include/proto"},
	{i, "include/db_table_define"},
	{i, "lib/amnesia/include"},
	{src_dirs, ["src", "tool", "config", "lib/amnesia/src", "run_setting"]}
]}.


{pre_hooks, [
			 % {"linux", compile, "c_src/build_linux.sh"},
             % {compile, "scripts\\cmd_gen_protocol.bat"}
            ]}.
